
/*Styles for my app*/
.input-controls{

  width: 162px; /*working on this*/
  height: 17px;
  padding: 8px; /*keeps size of text fields uniform*/
  box-sizing: border-box;

}

.monetary-field{

  padding-left: 14px;

}

.inuirandspan{

  margin-left: -160px;
  /*background-position:left center;*/
  color: aqua;

}

#calculator{

  border: 2px solid black;

}

#starting-amt-tbl{

  font-size: 17px;
  display: block;
  text-align: left;
  /*border: 3px solid black;*/

  

}

#amt-time-tbl{

  font-size: 17px;
  text-align: left;

  .inuiyearspan{

    margin-left: -45px;
    color: aqua;

  }
}

#rate-of-return-tbl{

  font-size: 17px;
  text-align: left;
  padding-right: 35px;

  .inuipercentspan{

    margin-left: -17px;
    color: aqua;

  }

}

#compounding-period-tbl{

  font-size: 17px;
  text-align: left;

  .custom-dropdown{

    width: 170px;
    height: 22px;
    padding: 0px;
    font-size: 15px;

  }

}

#add-contribution-tbl{

  font-size: 17px;
  text-align: left;

 
}
