
/*Styles for my app*/
.input-controls{

  width: 162px; /*working on this*/
  height: 17px;
  padding: 9px; /*keeps size of text fields uniform*/
  padding-left: 4px;
  box-sizing: border-box;

}

.monetary-field{

  padding-left: 14px;

}

.inuirandspan{

  margin-left: -160px;
  /*background-position:left center;*/
  color: aqua;

}

#calc-layout{

  table-layout: fixed;
  width: 100%;

}

.input-col{

  width: 430px;
  padding-left: 190px;
  vertical-align: top;

}

.gap-col{

  width: 5px;

}

.output-col{

  width: 360px;
  padding-right: 190px;

}

#calculator{

  border: 2px solid black;

}

#starting-amt-tbl{

  font-size: 17px;
  /*display: block;*/
  text-align: left;
  /*border: 3px solid black;*/

  

}

#amt-time-tbl{

  font-size: 17px;
  text-align: left;

  .inuiyearspan{

    margin-left: -45px;
    color: aqua;

  }
}

#rate-of-return-tbl{

  font-size: 17px;
  text-align: left;
  

  .inuipercentspan{

    margin-left: -17px;
    color: aqua;

  }

}

#compounding-period-tbl{

  font-size: 17px;
  text-align: left;

  .custom-dropdown{

    width: 162px;
    height: 22px;
    padding: 0px;
    font-size: 15px;

  }

}

#calc-button{

  width: 200px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

}

#add-contribution-tbl{

  font-size: 17px;
  text-align: left;

 
}

#starting-amt-tbl,
#amt-time-tbl,
#rate-of-return-tbl,
#compounding-period-tbl,
#add-contribution-tbl {
  width: 300px;
  table-layout: fixed;
  padding-bottom: 10px;
}

#starting-amt-tbl td:first-child,
#amt-time-tbl td:first-child,
#rate-of-return-tbl td:first-child,
#compounding-period-tbl td:first-child,
#add-contribution-tbl td:first-child {
  width: 250px;
}

#starting-amt-tbl td:nth-child(2),
#amt-time-tbl td:nth-child(2),
#rate-of-return-tbl td:nth-child(2),
#compounding-period-tbl td:nth-child(2),
#add-contribution-tbl td:nth-child(2) {
  width: 180px;
}

#contribution-timing{

  text-align: center;
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;

}

#outputs{

  border: 2px solid black;

}

#graph-info{

  padding-top: 30px;
  width: 400px;
  height: 300px;
  margin-left: 30px;
  margin-bottom: -50px;

}

#graph-heading{

  text-align: center;
  margin-right: 100px;
  margin-bottom: -50px;

}

#my-chart{

  width: 75% !important;
  height: 100% !important;

}